<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <script src="//unpkg.com/vue@2.7.16/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <div v-for="(item, index) in arr" :key="index">
      <input type="text" name="" :id="index" v-model="item.name" @input="change">
      <!-- {{item.name}} -->
    </div>
    <button @click="visible = !visible">切换可视区域</button>
    {{date}}
    <div>
      可视区域
      {{obj1.name}}
    </div>
    <div>
      4、测试对象 因为obj2是响应式的，obj2加属性是可以watch到的。如果监听的是obj2.name，则不是响应式数据，watch不到。
      {{obj2}}
    </div>
  </div>
  <script>

    new Vue({
      el: "#app",
      data() {
        return {
          arr: [
            {
              name: 'xiaoming',
              age: 18
            },
            {
              name: 'wang',
              age: 19
            },
            {
              age: 19
            },
          ],
          obj: {
            aaa: 1,
            bbb: 'nihao'
          },
          date: '2020',

          // 测试
          obj1: {
          },
          visible: true,
          // 4、
          obj2: {
          }

        }
      },
      methods: {
        change() {
          console.log(this.arr, 'this.arr====');
        }
      },
      watch: {
        // 4、
        // 可以监听到
        obj2:{
          handler(nv) {
            console.log(nv, 'obj2====');

          },
          immediate: true,
        },
        // 不可以监听到
        /* 'obj2.name': {
          handler(nv) {
            console.log(nv, 'obj2.name====');

          },
          immediate: true,
        } */
      },
      mounted() {
        // 1、数组 push方法
        // this.arr.push({
        //   age: 20,
        //   name: 'zyf'+new Date().getTime()
        // })

        // 2、先改值 再$forceUpdate() 相当于 $set
        // this.arr[2].name='aaa'
        // this.$forceUpdate()

        // 3、$set
        // this.$set(this.arr[2],'name','aaaa')

        // console.log(this.arr,'this.arr==');


        // 对象
        // this.$set(this.obj, 'ccc', 123)
        // this.obj.ccc = 123;



        // 测试响应式
        // vue如果数据不是响应式的，那么视图数据改变不会更新变化视图。但是如果改变数据时，只要有一个响应式的数据变化，其他所有非响应式数据都会“顺带”更新了视图。
        // this.obj1.name = 'zyf'
        // console.log(this.obj1,'this.obj1===');

        // setTimeout(() => {
        //   this.date = '2021'
        // }, 2000);

        // 4、
        this.obj2.name = '2222'
        // this.$set(this.obj2, 'name', '2222')
      }
    })
  </script>
</body>

</html>